{% extends "_base.html" %}
{% block before_css_head %}
    <title>Games List</title>
{% endblock %}
{% block body %}
<div class="row">
    {% for game in games_list %}
    <div class="col-12">
        {% include '_customs/game_card.html' with game=game %}
    </div>
    {% endfor %}
</div>
<div class="pagination">
        <span class="step-links">
            {% if games_list.has_previous %}
                <a href="?q={{q}}&page=1">&laquo; first</a>
                <a href="?q={{q}}&page={{ games_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ games_list.number }} of {{ games_list.paginator.num_pages }}.
            </span>
    
            {% if games_list.has_next %}
                <a href="?q={{q}}&page={{ games_list.next_page_number }}">next</a>
                <a href="?q={{q}}&page={{ games_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}