.logo-header{
    border-radius: 50%;
    width: 50px;
    margin-right: 5px;
}
.margin-vertical-10 {
    margin: 10px 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.mini-link-button{
    font-size: 0.7rem;
    padding: 1px;
}